{% extends "layout.html" %}

{% block title %}{{ cocktail.nombre }} - Barkeeper{% endblock %}

{% block content %}
<div class="cocktail-detail">
    <h1>{{ cocktail.nombre }}</h1>
    <h2>Ingredientes:</h2>
    <ul>
        {% for ingredient in cocktail.ingredientes %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h2>Preparación:</h2>
    <p>{{ cocktail.preparacion }}</p>
    <a href="{{ url_for('cocktails') }}" class="back-button">Volver a Cócteles</a>
</div>
{% endblock %}
