<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Barkeeper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">Nosotros</a>
        <a href="{{ url_for('cocktails') }}" class="{% if request.endpoint == 'cocktails' %}active{% endif %}">Cócteles</a>
        <a href="{{ url_for('contact') }}" class="{% if request.endpoint == 'contact' %}active{% endif %}">Contacto</a>
    </nav>

    <a href="{{ url_for('login') }}" class="login-register-btn">Iniciar Sesión / Registrarse</a>

    <div class="container p-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Barkeeper . Todos los derechos reservados.</p>
    </footer>
</body>
</html>
